<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Municipality</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG7312_Web_App.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://github.com/Deanjamesg/PROG7312-POE" target="_blank"><i class="bi bi-github" style="font-size: 30px"></i></a>
                <a class="navbar-brand" href="https://youtu.be/aklSD_ZtIVA" target="_blank"><i class="bi bi-youtube" style="font-size: 30px"></i></a>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">City of Cape Town</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Report" asp-action="ViewReports">Community Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Report" asp-action="CreateReport">Make a Report</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Post" asp-action="ViewPosts">Local Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Post" asp-action="ViewPosts">Announcements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Muncipality</h1>
                </div>
                <div class="col">
                    <h1>References</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Varsity College, Cape Town</p>
                    <p>ST10378305</p>
                    <p>Dean James Greeff</p>
                    <p>Programming 3B</p>
                    <p>PROG 7312</p>
                    <a href="https://github.com/Deanjamesg/PROG7312-POE" target="_blank">GitHub Repository</a>
                    <a href="https://youtu.be/aklSD_ZtIVA" target="_blank">YouTube Link</a>
                </div>
                <div class="col">
                    <a href="https://unsplash.com/photos/city-during-day-xjJd9fu9OkM" target="_blank">Background Image of Cape Town City</a>
                    <a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap</a>
                    <a href="https://icons.getbootstrap.com/" target="_blank">Bootstrap Icons</a>
                    <a href="https://www.news24.com/SouthAfrica/News/pics-trees-uprooted-roofs-blown-off-and-school-damaged-as-storm-lashes-cape-20200713" target="_blank">News24 Uprooted Tree and Destroyed School Buildings</a>
                    <a href="https://www.capetownetc.com/news/n2-closed-in-cape-town-due-to-ongoing-protest-action/" target="_blank">News24 Protest on N2</a>
                    <a href="https://medium.com/geekculture/building-a-linked-list-system-from-scratch-in-c-part-1-51aa6c68ea19" target="_blank">Linked Lists</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
