
:root {
    --sea-color: #053b3d;
    --logo-blue: #2596be;
    --logo-orange: #ff9d0e;
    --logo-pink: #ce0e6b;
    --logo-bronze: #464604;
    --logo-yellow: #caca00;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*    font-family: 'Roboto', sans-serif;*/
    margin-top: 50px;
    /*    background: white;*/
    /*    background: #e4e4e4;*/
    background: #eeeeee;
        font-family: "Inter", sans-serif;
}




/* #region Footer */

footer {
    background-color: rgba(0,0,0,0.85);
    padding: 55px;
    /*    margin-top: 100px;*/
    color: white;
}

    footer p {
        color: rgba(255,255,255, 0.75);
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    footer h1 {
        padding-left: 0px;
        font-weight: 400;
    }

    footer .col a {
        text-decoration: none;
        color: rgba(255,255,255, 0.75);
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        display: block;
    }

    footer a:hover {
        color: rgba(255,255,255, 1);
    }

/* #endregion */




/* #region Hero */

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 60px 0 60px 0;
}

    .hero .hero-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

        .hero .hero-background img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

    .hero .container {
        position: relative;
        z-index: 2;
        padding: 10px 15px;
    }

    .hero .hero-stats-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .hero .hero-stats {
        margin-left: 100px;
        padding: 5px;
    }

        .hero .hero-stats .data {
            display: flex;
            justify-content: end;
            color: black;
            margin-bottom: -7px;
            font-size: 40px;
            font-weight: 700;
        }

        .hero .hero-stats .data-title {
            color: #414141;
            font-size: 30px;
            font-weight: 500;
        }

    .hero .btn-hero-stats {
        background: white;
        padding: 15px;
        font-size: 20px;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 2px;
        transition: .3s;
    }

        .hero .btn-hero-stats:hover {
            background: #f2f2f2;
        }

    .hero .feature-card {
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0, 0.3);
        backdrop-filter: blur(15px);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 2px;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        border: 1px solid rgba(255,255,255, 0.4);
        border-radius: 7px;
        padding: 25px;
        color: black;
        margin-bottom: 35px;
        transition: transform 0.3s ease;
        height: 175px;
        background-color: rgba(255,255,255, 0.5);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 2px;
        border: 1px solid rgba(255,255,255, 0.5);
        border-radius: 10px;
    }

        .hero .feature-card:hover {
            transform: translateY(-10px);
        }

    .hero .hero-card {
        display: flex;
        flex-direction: column;
        background-color: rgba(255,255,255, 0.5);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px 2px;
        border: 1px solid rgba(255,255,255, 0.5);
        border-radius: 10px;
        backdrop-filter: blur(15px);
        align-items: start;
        text-align: start;
        justify-content: space-around;
        color: black;
        margin-bottom: 35px;
        padding: 25px;
    }

.btn-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #33cdff;
    padding: 10px 30px 10px 30px;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 2px;
    color: black;
}

    .btn-hero i {
        font-size: 30px;
    }

    .btn-hero:hover {
        color: black;
        background-color: #00baf6;
        transform: translateX(15px);
    }

/* #endregion */




/* #region Navbar */

.navbar {
    backdrop-filter: blur(20px);
/*    background-color: rgba(0,0,0, 0.75);*/
    background-color: var(--sea-color);
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px 7px;
}

    .navbar .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;
        width: 100%;
    }

    .navbar .nav-item {
        margin-right: 25px;
    }

    .navbar .nav-item .nav-link.active {
        color: white;
    }

        .navbar .nav-item a {
            color: rgba(255,255,255, 0.7);
            transition: 0.4s;
        }

            .navbar .nav-item a:hover {
                background-color: transparent;
                color: white;
            }

.navbar-brand {
    color: rgba(255,255,255, 1);
    font-size: 2rem;
    margin-left: 1rem;
}

    .navbar-brand:hover {
        color: white;
    }

/* #endregion */




/* #region News */

.news-section {
    background: white;
    padding: 1rem 0rem;
}


/* #endregion */




/* #region Recent Reports & Services */

.recent-reports {
    padding: 0.5rem 0rem;
    background: white;
}

.carousel-inner {
    padding: 10px;
    background: rgba(0,0,0, 0.85);
    border: 0px solid rgba(0,0,0, 0.7);
    border-radius: 10px;
    height: 275px;
    box-shadow: rgba(0,0,0, 0.35) 0px 0px 15px 2px;
}

.carousel-item {
    height: 100%;
}

.carousel-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: white;
}

    .carousel-body h1 {
        font-size: 24px;
    }

    .carousel-body p {
        font-size: 18px;
    }

.carousel-inner .carousel-item .carousel-body img {
    height: 100%;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 0px solid white;
}

.service-status {
    background: white;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

/* #endregion */




/* #region Featured Services */

.featured-services {
    background: #f3f3f3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

    .featured-services .services-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .featured-services .service-card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background: white;
        height: 300px;
        border: 2px solid transparent;
        border-radius: 15px;
        padding: 25px;
        transition: .3s;
        box-shadow: rgba(0,0,0,0.3) 0px 1px 10px 1px;
    }

        .featured-services .service-card .btn {
            width: 150px;
        }

        .featured-services .service-card:hover {
            transform: translateY(-10px);
            box-shadow: rgba(0,0,0,0.5) 0px 5px 15px 2px;
        }

/* #endregion */




/* #region Contact */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 60px 0px 80px 0px;
    background: white;
}

/* #endregion */




/* #region Report Form */

.report-form {
    display: flex;
    flex-direction: column;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 0px 5px 25px 2px;
    padding: 0px;
    margin-top: 125px;
    margin-bottom: 100px;
}

    .report-form .content {
        padding: 20px 30px 20px 30px;
    }

    .report-form .header {
        background: #3d3d3d;
        width: 100%;
        padding: 15px 25px 15px 25px;
        font-size: 40px;
        font-weight: 400;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .report-form input {
        font-size: 18px;
        border: 1px solid rgba(0,0,0,0.25);
    }

    .report-form label {
        font-size: 20px;
    }

    .report-form select {
        font-size: 18px;
        border: 1px solid rgba(0,0,0,0.25);
    }

    .report-form textarea {
        font-size: 18px;
        border: 1px solid rgba(0,0,0,0.25);
    }

/* #endregion */




/* #region View Reports */

.view-report {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    align-items: start;
    justify-content: start;
    min-height: 100vh;
    padding: 15px;
}

    .view-report .reports {
        border-radius: 20px;
        width: 100%;
        margin-top: 25px;
    }

    .view-report .header {
        background: rgba(0,0,0, 0.75);
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        color: white;
        box-shadow: rgba(0,0,0,0.35) 0px 5px 15px 5px;
    }

        .view-report .header h1 {
            font-size: 42px;
            font-weight: 400;
        }

        .view-report .header p {
            font-size: 18px;
        }

    .view-report .item {
        min-height: 250px;
        background: white;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 20px;
        border: 0px solid rgba(0,0,0,0.25);
        margin-bottom: 25px;
        box-shadow: rgba(0,0,0,0.25) 0px 5px 15px 1px;
    }

        .view-report .item .content {
            display: flex;
            flex-direction: column;
            width: 75%;
            padding: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            justify-content: space-between;
        }

            .view-report .item .content .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 500;
            }

                .view-report .item .content .info .category {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    font-size: 20px;
                    font-weight: 500;
                    margin-right: 100px;
                }

                .view-report .item .content .info .location {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 100px;
                }

                .view-report .item .content .info .status {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                }

        .view-report .item .more-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
            padding: 10px;
            width: 25%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

            .view-report .item .more-content .status {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                font-weight: 400;
                padding: 15px 30px 15px 30px;
                background: #393939;
                border-radius: 10px;
                width: fit-content;
                color: white;
                box-shadow: rgba(0,0,0,0.25) 0px 5px 10px 2px;
            }

            .view-report .item .more-content .btn-attachment {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                font-size: 20px;
                background: #e1e1e1;
                padding: 5px 30px 5px 30px;
                border-radius: 10px;
                box-shadow: rgba(0,0,0,0.25) 0px 5px 10px 2px;
                border: none;
                transition: .3s;
            }

                .view-report .item .more-content .btn-attachment:hover {
                    transform: translateY(-5px);
                }

                .view-report .item .more-content .btn-attachment i {
                    font-size: 34px;
                    margin-right: 10px;
                }

            .view-report .item .more-content .attachment-image {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                height: 100%;
                width: 100%;
            }

/* #endregion */




/* #region Posts */

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 100px 0 60px 0;
}

.sidebar-filters {
/*    border: 2px solid black;*/
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    overflow-y: auto;
    margin-left: 20px;
    background: white;
}

.post-card {
    transition: box-shadow .2s ease-in-out;
}

    .post-card:hover {
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

.card-footer-details {
    font-size: 16px;
    color: rgba(0,0,0,0.75);
    justify-self: end;
    align-self: end;
}

/* #endregion */




/* #region Recently Viewed */

.recently-viewed {
/*    background: #053b3d;*/
    background: #2b8285;
    padding: 2.5rem;
}

/* #endregion */
